<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.pedroazzam.me" class="navbar-brand">Pedro Azzam - Glu Control</a></div>
        
            <ul class="text-center list-inline py-3">
                <li class="list-inline-item">
                    <!--<a *ngIf="isLoggedIn" routerLink="/users" class="btn btn-info">List Users</a>-->
                    <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link" href="/users" (click)=handleUsers()>List Users</a>
                </li>
                <li class="list-inline-item">
                    <a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/adduser" class="btn btn-info">Add User</a>
                </li>

                <li class="list-inline-item">
                    <a *ngIf="authenticationService.isUserLoggedIn()" class="btn btn-info" (click)=handleHW()>HW</a>
                </li>

                <li class="list-inline-item">
                    <a *ngIf="authenticationService.isUserLoggedIn()" class="btn btn-info" (click)=handleUN()>userName</a>
                </li>
            </ul>
        
          <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a *ngIf="authenticationService.isUserLoggedIn()" class="nav-link" routerLink="/logout" (click)=handleLogout()>Logout</a>
            </li>
        </ul>
    </nav>
  </header>